# PyCharm
.idea/*

# Environments
venv/

# Packages
__init__.py

# Jupyter Notebook
.ipynb_checkpoints
part02-regression/section7-model-selection/best_regression_model.ipynb

part02-regression/section7-model-selection/notebook.ipynb

part03-classification/section8-model-selection/best_model.ipynb

part08-deep-learning/section2-convolutional-neural-network/dataset/.DS_Store
